/* ---------- General ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0D1117;
    color:#F0F6FC;

    font-family:Arial, Helvetica, sans-serif;

    line-height:1.7;
}


/* ---------- Header ---------- */

header{

    text-align:center;

    padding:60px 20px;

    border-bottom:1px solid #30363D;

}

header h1{

    font-size:3.5rem;

    color:#F0F6FC;

}

header p{

    color:#D73A49;

    font-size:1.2rem;

    margin-top:10px;

}


/* ---------- Navigation ---------- */

nav{

    margin-top:30px;

}

nav a{

    color:#F0F6FC;

    text-decoration:none;

    margin:0 20px;

    transition:.3s;

}

nav a:hover{

    color:#D73A49;

}


/* ---------- Main ---------- */

main{

    width:90%;

    max-width:1000px;

    margin:auto;

}


/* ---------- Sections ---------- */

section{

    padding:60px 0;

    border-bottom:1px solid #30363D;

}

section h2{

    color:#D73A49;

    margin-bottom:20px;

    font-size:2rem;

}


/* ---------- Project Card ---------- */

article{

    background:#161B22;

    border:1px solid #30363D;

    border-radius:12px;

    padding:25px;

    margin-top:20px;

    transition:.3s;

}

article:hover{

    transform:translateY(-5px);

    border-color:#D73A49;

}


/* ---------- Footer ---------- */

footer{

    text-align:center;

    padding:40px;

    color:#8B949E;

}
